<p-toast position="top-center" key="tc"></p-toast>
<div class="container  mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 shadow-lg mt-5 mb-5 text-center rounded-3  col-sm-12">
            <h3 class="text-center p-4">Sign-In</h3>
            <form class="example-form container" [formGroup]="signinForm"  (ngSubmit)="signinForm.valid && onSubmit()" novalidate>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username">
                            <mat-error *ngIf="username.hasError('username') && !username.hasError('required')">Please enter a valid email address</mat-error>
                            <mat-error *ngIf="username.hasError('required')">
                                Email is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
    
                            <mat-error *ngIf="Password.hasError('required')">
                                Password is required</mat-error>
                        </mat-form-field>
                    </div>
                    </div>
                <br>
                <div class="col pb-5">
                    <p class=" pt-3 text-secondary d-flex justify-content-center"><a routerLink="/signup" class="text-decoration-none">Don't have an Account? Signup!</a></p>
                    <button mat-raised-button color="primary" type="submit" class="example-full-width">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>