.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  mat-hint,mat-error{
    font-size: small;
  }
  mat-hint{
    font-size: small;
    color:#3f51b5;
    
  }

  a{
    text-decoration: none;
  }
#error{
  color: red;
  font-weight: bold;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}