<div class="container">
    <div class="row">
        <div  class="col-6 d-flex justify-content-around align-items-stretch gx-5">
            <div *ngFor="let chapter of chapters" class="card" style="width: 100%;" >
                <img src="{{chapter.chapterImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{chapter.chapter}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a (click)="viewTopics(chapter.topicid)" class="btn btn-primary">view Topics</a>
                </div>
            </div>
        </div>
    </div>
</div>